body {
  margin: 20px;
}

.section1 {
  border: 5px solid black;
  padding: 5px;
  width: 750px;
  box-sizing: border-box;
}

.rectangle1 {
  margin: 0 40px 0 0;
  background-color: blueviolet;
  width: 35px;
  height: 100px;
  display: inline-block;
}

.rectangle2 {
  background-color: green;
  width: 301px;
  height: 135px;
  display: inline-block;
  margin: 0 45px 0 0;
}

.circle {
  background-color: #89cff0;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: inline-block
}

.section2 {
  border: 5px black dotted;
  width: 750px;
  height: 250px;
  box-sizing: border-box;
  padding: 40px;
  margin-top: 25px;
}

.box1 {
  width: 650px;
  height: 160px;
  background-color: blanchedalmond;
  box-shadow: 0 10px 25px 0px black
}

.section3 {
  width: 175px;
  border: 1px gray solid;
  background-color: white;
  padding: 100px;
  box sizing: border-box;
  margin: 25px 200px;
  box-shadow: 0 5px 5px 0 gray;
  
}

.section3 h1 {
  width: 100%;
  text-align: center;
  color: blue;
  letter-spacing: 5px;
  font-size: large;
}
